*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --white-color: white;
  --gray-color: #eaecf0;
  --gray-color2: #667085;
  --gray-color3: #475464;
}
body {
  background-color: var(--white-color);
  color: black;
}
.container {
  width: 85vw;
  height: 1140px;
  margin: 0 auto;
}

.main-section {
  padding-top: 64px;
  height: 774px;
  width: inherit;
  display: flex;
  flex-direction: column;
}
header {
  width: inherit;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > #profile_img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}

header > h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
header span {
  border-radius: 50%;
  border: 1px dashed var(--gray-color2);
  padding: 14px;
  position: absolute;
  right: 250px;
}
#threedot-icon {
  display: none;
}
#slack {
  display: none;
}

.linksection {
  width: inherit;
  height: auto;
  margin: 48px 0;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.linksection a {
  width: inherit;
  padding: 24px 32px;
  background-color: var(--gray-color);
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
  color: black;
  border-radius: 8px;
  text-transform: capitalize;
}
.social-links {
  width: 100%;
  padding: 24px 32px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.links {
  width: auto;
  height: inherit;
}
.social-links > .links > a {
  padding: 24px 32px;
  background-color: transparent;
}
footer {
  width: 100%;
  border-top: 1px solid var(--gray-color);
}
.footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100px;
}
.footer > p {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-color2);
  line-height: 24px;
}

/* ======== this is the section for the contact page======= */
/*========== im sorry if you see to many flex used in this section me self i tire=======*/
.contact {
  height: 170vh;
  width: 85vw;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.form-main {
  position: relative;

  height: 60rem;
  width: 45rem;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* border: 1px solid black; */
  max-width: 45rem;
  min-width: 23.4375rem;
}

.contact-header {
  width: inherit;
  height: 5.875rem;
}
.header-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header-text > h2 {
  text-align: left;
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 44px;
}
.header-text > p {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray-color3);
}
form {
  width: inherit;
  height: 29.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-holder {
  height: 394px;
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input-height {
  height: 4.375rem;
}
.name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.name > input {
  outline: 1px solid black;
}
label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #344054;
}

.checkbox {
  display: flex;
  width: auto;
}
.checkbox > input {
  width: 20px;
}
input {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  background: #ffffff;
  padding: 10px 14px;
  width: 100%;
  outline: none;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}
#email,
#lastname,
#firstname {
  height: 44px;
}
::placeholder,
label:last-child {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #667085;
}
.i-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.message {
  height: 158px;
}
textarea {
  resize: none;
  height: 132px;
  padding: 12px 14px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  outline: none;
  border: 1px solid #d0d5dd;
}
#checkbox {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  outline: none;
  margin-right: 12px;
}
button {
  border: none;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  padding: 12px 20px;
  background: #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
